body {
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: rgb(32,32,32);
    background-color: rgb(252,252,255);
    margin: 40px;
}

strong {
/*  font-weight: normal;
  font-style: italic;
*/}

a {
    color: rgb(32,32,32);
}
h1 {
	font-weight: bold;
    font-size: 24px;
}

h2 {
	font-weight: bold;
    font-size: 20px;
}

h3 {
	font-weight: bold;
    font-size: 16px;
	margin-top: 8px; 
	margin-bottom: 8px;
}

img {
    margin-left: 40px;
    margin-right: 40px;
}

ul{
	margin-top:6px;
	margin-bottom:6px;
}

ul li {
    padding: 5px 0px;
}

.intro {
	max-width: 1000px;
	/*text-align: justify;*/
  line-height: 1.4;
}


.title {
	font-weight: bold;
    font-size: 16px;
	margin-top: 8px; 
	margin-bottom: 8px;
}

.authors {
    font-size: 14px;
	margin-top: 4px; 
	margin-bottom: 8px;
}

.venue {
	font-size: 14px;
	margin-top: 4px; 
	margin-bottom: 8px;
}

.links {
    font-size: 14px;
	margin-top: 4px; 
	margin-bottom: 4px;
}

.rectangle {
	height: 100px;
	width: 5px;
	background-color: rgb(200,200,200);
	/*background-color: rgb(220,220,220);*/
	/*background-color: rgb(255,255,255);*/
	margin-right: 4px;
}